body
{
    margin: 0;
    padding: 0;
}
.container
{
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #B69DE1 0%, #3C2D51 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo
{
    width: 50%;
    height: 90vh;
}
.sentence
{
    color:white;
    text-align: center;
    font-size: 35px;
    width: 75%;
}
.login-container
{
    background: #C9C9C9 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 42px;
    width: 40%;
}
form.login
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
}
button
{
    background: #B69DE1 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 17px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 16px/21px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 1em;
    width: 7em;
    line-height: 2em;
}
.login-buttons
{
    display: flex;
    flex-direction: row;
   
}
input
{
    background-color: transparent;
    border: none;
    padding: 1em;
    margin: 1em;
    text-align: center;
    border-bottom: 1px solid gray;
    width: 50%;
    font-size: 1.4em;
}
@media only screen and (max-device-width: 450px)
{
    *
    {
        font-size: 36px;
    }
    .container
    {
        flex-direction: column;
    }
    .login-container
    {
        width: 90%;
        height: 25%;
    }
    .logo
    {
        width: 100%;
        height: 35%;
        margin-left: 30%;
    }
    form
    {
        height: 25vh;
    }
    .sentence
    {
        font-size: 50px;
    }
    button
    {
        font-size: 36px;
    }
}


.base-container
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}
nav
{
    width:20vw;
    height:100vh;
    display: flex;
    background: transparent linear-gradient(180deg, #B69DE1 0%, #3C2D51 100%) 0% 0% no-repeat padding-box;
    flex-direction: column;
    justify-content: flex-start;
}
nav > img
{
    width:80%;
    margin: 2em auto;
}
a
{
    text-decoration: none;
    display: inline-block;
    line-height: 3em;
    font-size: 1.5em;
}
.button
{
    background: #C9C9C9 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 1em;
    opacity: 1;
    color:white;
    margin-left: 1em;
    text-align: center;
    letter-spacing: 0.7px;

    width: 100%;
}
ul
{
    list-style-type: none;
    font: normal normal normal Agency FB;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    color:white;
    width: calc(100%-40px);
    position: relative;
}
li
{
    text-align: left;
    margin-bottom: 1em;
}
li:last-child
{
    position: absolute;
    bottom: 0;
    width:100%
}
main
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80vw;
}
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 2em;
    border-bottom: 1px solid gray;
}
.acc
{
    text-align: center;
    font: normal normal normal 71px/83px Agency FB;
    letter-spacing: 0px;
    opacity: 1;
}
.find-artist
{
    display: flex;
    background: #555555 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    height: 10vh;
}
.find-artist>form>select
{
    background: #C9C9C9 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 1em;
    box-sizing: border-box;
    color: white;
    position: relative;
    top: -18px;
}
.search
{
    display: inline-flex;
    height: 3em;
    margin-top: 1em;
    font-size: 1.2em;
    color: white;
}
.messages
{
    color:purple;
    font-size: 1.5em;
    text-align: center;
}
a > .register
{
    background-color: transparent;
    border: none;
    padding: 1em;
    margin: 1em;
    text-align: center;
    border-bottom: 1px solid gray;
    width: 50%;
    font-size: 1.4em;
}
.no-valid
{
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}
.artist_to_submit
{
    display: none;
}

.artist
{
    border: 1px solid;
    margin: 20px;
    width: 300px;
    float: left;
}

.artist:hover
{
    cursor: pointer;
}
.adminButton
{
    width: 40%;
}
@media (max-width: 1250px){
    nav
    {
        width: 300px;
    }

    nav .button
    {
        max-width:90%;
    }

    nav .button i
    {
        display: none;
    }
}
.changeAccount{
    margin-left: 20%;
    margin-right: 20%;
}

.changeAccount input{
    width: 80%;
    margin-left: 6%;
}

.changeAccount .button
{
    width: 60%;
    margin-left: 20%;
}